doctype html
html
  head
    title= title
    script(src='js/jquery.min.js') 
    // EN LA CAPETA app.js SE GUARDAN LOS ARCHIVOS EN UNA CARPETA ESPECIAL LLAMADA JS Y POR ESO SE PONE JS EN LUGAR DE LINKEARLA CON NODE_MODULES
    script(src='/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
  
  body
    block content
