extends layouts/general

block content
  .login-container
    h1 SUNITEC
      img.d-inline-block.align-top.mr-3r.ml-3(src="images/logo.png" width="50" height="50" alt="logo Tec")
    .form-group
      label(for='exampleInputEmail1') Correo electronico
      input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Ingresa tu correo')
    .form-group
      label(for='exampleInputPassword1') Contraseña
      input#exampleInputPassword1.form-control(type='password', placeholder='Ingresa tu contraseña')
    .form-group.form-check
      input#exampleCheck1.form-check-input(type='checkbox')
      label.form-check-label(for='exampleCheck1') Recordarme
    button.btn.btn-primary.login-btn(type='submit') Ingresar



