extends ../layouts/coordinator

block content
  .full-container
    form(method='post', action='/questions/create')
      input#id-unidad.d-none(name='id_unidad')
      .question-filters
        select.level-selector(id="level-selector")
          option(value='' disabled selected) Nivel
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
          option(value='5') 5
          option(value='6') 6
          option(value='7') 7

        select.unitSelector
          option(value='' disabled selected) Unidad

        each levelUnits, level in levelsData
          select.unitSelector.d-none(id=`level${level}-units-selector`)
            option(value='' disabled selected) Unidad
            each unit  in levelUnits
              option(value=`${unit[0]}`) #{unit[1]}

        span.ml-3 IdCoordi:
        input.form-control.coordi-input(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-default', name='id_coordi')

      .question-body
        .input-group-prepend
          span#inputGroup-sizing-default.input-group-text Descripcion:
        input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-default', name='descripcion')
        .input-group-prepend
          span#inputGroup-sizing-default.input-group-text Valor:
        input.form-control(type='text', aria-label='Sizing example input', aria-describedby='inputGroup-sizing-default', name='valor')


      .answers
        h3.mb-3 Respuestas:
        .form-row
          .col-auto
            .form-check.mb-2.mr-2
              input#option1.form-check-input(type='radio', name='radioOptions', checked='', value=0)
              .input-group
                .input-group-prepend
                  .input-group-text a
                label.form-check-label(for='option1')
                input.form-control(type='text', name='options')
          .col-auto
            .form-check.mb-2.mr-2
              input#option2.form-check-input(type='radio', name='radioOptions',  value=1)
              .input-group
                .input-group-prepend
                  .input-group-text b
                label.form-check-label(for='option2')
                input.form-control(type='text', name='options')
          .col-auto
            .form-check.mb-2.mr-2
              input#option3.form-check-input(type='radio', name='radioOptions', value=2)
              .input-group
                .input-group-prepend
                  .input-group-text c
                label.form-check-label(for='option3')
                input.form-control(type='text', name='options')
          .col-auto
            button.btn.btn-warning.mb-2.add-questions-button(type='button', id='add-option') +
      button.btn.btn-danger.mt-4(type='submit') Guardar


